/* GRAPH MODULE */

.bar {
	position: relative;
	height: auto;
	float: left;
	padding: 0 12px;
}
.bars {
	border-bottom: 1px solid #999;
	float: left;	
}
.bar-title {
	margin-top: 12px;	
	float: left;
}

.bar .header {
	top: -4px;
	position:relative;
	font-size: 36px;
	font-weight: thin;
	letter-spacing: -0.08em;
}
.bar .total {
	color: #fff;
	font-weight: bold;
}
.bar .remaining {
	color: #6cdaff;
}

.bar .view {
	border-width: 3px;
	border-style: solid;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	webkit-border-top-left-radius: 3px;
	border-bottom: 0px;
}

#bar_1 {
	background: #FABD15;
	border-color: #FABD15;
	border-left-color: #fed615;
	border-top-color: #fed615;
	border-right-color: #d5a110;
}

#bar_2 {
	background: #49C817;
	border-color: #49C817;
	border-left-color: #4fdd15;
	border-top-color: #4fdd15;
	border-right-color: #38a410;	
}

#bar_3 {
	background: #FD3B15;
	border-color: #FD3B15;
	border-left-color: #ff4c21;
	border-top-color: #ff4c21;
	border-right-color: #cd2e14;		
}

#bar_4 {
	background: #7554BF;
	border-color: #7554BF;
	border-left-color: #835dd7;	
	border-top-color: #835dd7;	
	border-right-color: #6345a5; 
}

#bar_5 {
	background: #107CF8;
	border-color: #107CF8;
	border-left-color: #1288ff;
	border-top-color: #1288ff;	
	border-right-color: #3368d7;	
}

#bar_6 {
	background: #d8d309;
	border-color: #d8d309;
	border-left-color: #ede80a;
	border-top-color: #ede80a;	
	border-right-color: #beba06;	
}

