/* TWITTER MODULE */

.twitter table {
	font-size: 20px;
	border-spacing: 10px;
	border-collapse: separate;
}

.twitter th {
	font-size: 24px;
	text-align: center;
}

.twitter tr {
	text-align: left;
	padding-left: 10px;
	margin: 10px;
	vertical-align: bottom;
}

.twitter .author {
	width: 20%;
	vertical-align: top;
}
