/* BUBBLE LIST MODULE */

ul {
	list-style-type: none;
	padding: 0;
	padding-top: 8px;	
	padding-bottom: 8px;		
	margin: 0;
	clear: left;
	margin-bottom: 8px;		
}

li {
	display: block;
	float: left;
	clear: left;
	padding: 5px;
}

li .content {
	display: block;
	line-height: 40px;
	float: left;
	margin-left: 10px;
	font-size: 28px;
}

.bubble span {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	padding: 0;
	margin: 0;
	float: left;
}

.bubble .background {
	font-style: normal;
	font-family: 'Cutouts';
	font-size: 70px;
}

.bubble.red .background {
	color: #d81817;
}

.bubble.orange .background {
	color: #fc5005;
}

.bubble .display {
	text-align: center;
	margin-left: -30px;
	font-size: 20px;
}
