.github table {
	font-size: 32px;
	border-spacing: 10px 10px;
	border-collapse: separate;
}

.github td {
	background-color: #1c2020;
	text-align: left;
	padding-left: 10px;
	margin: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222), color-stop(0.5, #222), color-stop(0.5, #333));			 
	border-bottom: 1px solid #555;
	vertical-align: middle;
}

.github .alt td {
	background-color: #1f222d;
	border-color: #1f222d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1f222d), to(#333), color-stop(0.5, #333), color-stop(0.5, #1f222d));				 
	border-bottom: 1px solid #555;
}