@font-face {
  font-family: 'Cutouts';
  src: url('cutouts.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cutouts2';
  src: url('cutouts2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'FreakyFace';
	src: url('TheFreakyFace.otf');
	font-weight: normal;
  	font-style: normal;
}

@font-face {
	font-family: 'FunnyFaces';
	src: url('face.ttf') format('truetype');
}

.icon {
	color: #ded00b;
	font-style: normal;
	font-family: 'Cutouts';
}

body {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 18px;
	background-color: #0a0a0a;
	color: #fff;
	vertical-align: middle;
}

.mini {
  background-color: #1c2020;
  border: 5px solid #1c2020;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

.module {
	float: left;
	text-align: center;
	margin: 10px;
}

.jumbo {
	font-size: 28px;
}

.mega {
	font-size: 40px;
}

#spacer {
  margin-top: auto;
  margin-bottom: 0;
}







/* GRID MODULE */
table {
	font-size: 40px;
}

td {
	background-color: #1c2020;
	border: 1px solid #1c2020;
	text-align: left;
	padding-left: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin: 10px;
}

.alt td {
	background-color: #1f222d;
	border-color: #1f222d;
}

tr {
	
}

.cell_0 { width: 35%; }
.cell_1 { width: 20%; }
.cell_2 { width: 20%; }

.cell_3 {
	font: normal 80px/50px 'FreakyFace';
	padding-left: 5px;
	width: 25%;
	padding-top: 20px;
	letter-spacing: 4px;
}

/* END GRID MODULE */

/* ARROW MODULE */

#arrow_icon {
	font: normal 65px 'Cutouts';
	display: block;	
}

.uparrow {
	color: #15af00;
}

.downarrow {
	color: #e31d18;
	-webkit-transform: rotate(180deg); 
	-moz-transform: rotate(180deg);
}

.zero-block {
	color: #3d69fe;
}

/* END ARROW MODULE */

/* COUNTDOWN MODULE */
.event {
	color: #9c9b98;
}
/* END COUNTDOWN MODULE */

/* GRAPH MODULE */
.graph {
	margin-right: auto;
	margin-left: auto;
	width: auto;
}

.bar {
	position: relative;
	height: auto;
	width: 170px;
	float: left;
	padding: 0 12px 0 12px;
}

.bar .view {
	border-width: 5px;
	border-style: solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

#graph_1 {
	background: #FABD15;
	border-color: #FABD15;
	border-left-color: #d5a110;
}

#graph_2 {
	background: #49C817;
	border-color: #49C817;
	border-left-color: #38a410;
}

#graph_3 {
	background: #FD3B15;
	border-color: #FD3B15;
	border-left-color: #cd2e14;
}

#graph_4 {
	background: #7554BF;
	border-color: #7554BF;
	border-left-color: #6345a5;
}

#graph_5 {
	background: #107CF8;
	border-color: #107CF8;
	border-left-color: #3368d7;
}

/* END GRAPH MODULE */